$main-text: 'Poppins', sans-serif;
$main-color: rgb(255, 110, 48);
$main-alpha: rgba(255, 110, 48, 0.6);
$white-color: rgba(255, 255, 255, 0.902);
$secondary-color: rgba(255, 255, 255, 0.549);
$third-color: rgba(255, 165, 55, 0.55);
$black-aplha: rgba(40, 48, 54, 0.6);
$black-color: rgb(40, 48, 54);
$overlay-aplha: rgba(25, 25, 25, 0.4);
$overlay-color: rgb(25, 25, 25);
$footer-hr: rgba(255, 255, 255, 0.15);

$bs-gutter-x: 30px;

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
$media-2xl: 1400px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

body {
	background-color: rgb(31, 37, 42);
}
.overflow {
	overflow: hidden;
}
.btn {
	border-radius: 7px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.title {
	font-family: $main-text;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 140%;
	color: $white-color;
}
.subtitle {
	font-family: $main-text;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: $secondary-color;
}




@import url(../fonts/Poppins-Light/style.css);
@import url(../fonts/Poppins-Medium/style.css);
@import './scss/custom-grid';
@import './scss/brand';
@import './scss/wrapper-card';
@import './scss/form';
@import './scss/header';
@import './scss/home';
@import './scss/tools';
@import './scss/companions';
@import './scss/new-tools';
@import './scss/review';
@import './scss/contact';
@import './scss/footer';
@import './scss/popup';
