.header {
  padding-top: 30px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    .brand {
      &__link {
        display: flex;
        column-gap: 12px;
        align-items: center;
        color: $white-color;
        font-family: $main-text;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
      }
    }
    &__nav {
      display: flex;
      align-items: center;
      column-gap: 240px;
    }
    &__list {
      display: flex;
      column-gap: 30px;
      align-items: center;
    }
    &__link {
      color: $secondary-color;
      transition: 0.3s;
      font-family: $main-text;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      &:hover {
        transition: 0.3s;
        color: $main-color;
      }
    }
    &__btn {
      font-family: $main-text;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      width: 100px;
      height: 50px;
      color: $secondary-color;
      transition: 0.3s;
      border: 1px solid $footer-hr;
      &:hover {
        background-color: $main-color;
        color: $white-color;
        transition: 0.3s;
      }
    }
}

@media (max-width: $media-xl) {
	.header {
		&__nav {
			column-gap: 90px;
		}
	}
}
@media (max-width: $media-lg) {
	.header {
		&__nav {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			&.active {
				display: block;
				width: 100vw;
				height: 100vh;
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				backdrop-filter: blur(32px);
				z-index: 9;
			}
		}
		.center-list {
			flex-direction: column;
			margin-top: 150px;
			row-gap: 30px;
		}
		.bottom-list {
			width: 100%;
		}
		&__list {
			column-gap: 10px;
		}
		&__item-btn {
			width: 100%;
		}
		&__btn {
			width: 100%;
			z-index: 10;
		}
		.burger {
			position: fixed;
			top: 48px;
			right: 14px;
			z-index: 10;
			transform: translateY(-50%);
			width: 35px;
			height: 35px;
			display: flex;
			align-items: center;
			cursor: pointer;
			border: 1px solid;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
			border-top: 1px solid rgba(255, 255, 255, 0.05);
			border-left: 1px solid rgba(255, 255, 255, 0.05);
			&.active {
				.burger__line {
					z-index: 10;
					background: none;
					transition: 0.1s ease;
					&::before {
						transform: rotate(135deg);
						top: 0;
						transition: 0.6s ease;
					}

					&::after {
						transform: rotate(45deg);
						bottom: 0;
						transition: 0.6s ease;
					}
				}
			}
			&__line {
				position: relative;
				width: 25px;
				height: 2px;
				background: #fff;
				left: 50%;
				transform: translateX(-50%);

				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background: #fff;
					top: 7px;
					left: 0;
					transition: 0.5s;
				}

				&::after {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background: #fff;
					bottom: 7px;
					left: 0;
					transition: 0.5s;
				}
			}
		}
	}
}