.home {
	padding: 109px 0 109px;
	&__wrapper {
		position: relative;
	}
		&__image {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			z-index: -1;
		}
		&__title {
			margin-bottom: 30px;
			span {
				color: $main-color;
			}
		}
		&__subtitle {
			margin-bottom: 60px;
		}
		&__social {
			margin-top: 100px;
			display: flex;
			column-gap: 20px;
		}
		&__inner {
			width: 58px;
			height: 58px;
			background-color: $black-color;
			border-radius: 8px;
			box-shadow: 0 0 3px 3px $main-color;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

@media (max-width: $media-lg) {
	.home {
			&__social {
				justify-content: center;
			}
	}
}
@media (max-width: $media-sm) {
	.home {
		padding: 60px 0 60px;
			&__title {
				font-size: 35px;
			}
	}
}
