.new-tools {
	padding-top: 100px;
	.wrapper-text {
		&__title {
			font-size: 48px;
			margin-bottom: 30px;
		}
		&__subtitle {
			font-size: 18px;
			margin-bottom: 60px;
		}
		&__btn {
			padding: 15px 40px;
			background-color: $main-color;
			font-family: $main-text;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 27px;
			color: $white-color;
		}
	}
}

@media (max-width: $media-lg) {
	.new-tools {
		.row {
			.col-5 {
				.wrapper-text {
					padding: 10px;
					margin-bottom: 30px;
					&__title {
						text-align: center;
					}
					&__subtitle {
						text-align: center;
						margin-bottom: 30px;
					}
					&__btn {
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
	}
}
@media (max-width: $media-sm) {
	.new-tools{
		padding-top: 60px;
	}
}