.review {
	padding-top: 120px;
	&__slider {
		width: 100%;
		height: 490px;
		position: relative;
	}
	&__wrapper {
		display: none;
		&.active {
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 100%;
			height: 100%;
			animation: fadeIn ease 1s;
		}
	}
	&__images {
		position: relative;
	}
	&__circle {
		position: absolute;
		top: 10%;
		left: 0;
		z-index: -10;
	}
	&__typography {
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: $black-aplha;
		backdrop-filter: blur(25px);
		border-radius: 8px;
		padding: 15px;

		h4 {
			font-style: normal;
			font-weight: 500;
			font-size: 26px;
			line-height: 39px;
			letter-spacing: 0.015em;
			color:$white-color;
		}

		p {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: $secondary-color;
		}
	}
	&__desc {
		max-width: 500px;
		font-family: $main-text;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: $secondary-color;
		position: relative;
		&::after {
			content: url(../images/review/after.svg);
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-50%, -50%);
		}
	}
	.btn-prev,
	.btn-next {
		position: absolute;
		left: 0;
		top: 50%;
		width: 50px;
		height: 50px;
		opacity: 0.7;
		cursor: pointer;
		transition: opacity 0.2s ease-in-out;
		img {
			width: 100%;
		}
	}
	.btn-prev {
		&:hover {
			opacity: 1;
		}
	}
	.btn-next {
		transform: rotate(180deg);
		left: auto;
		right: 0;
		&:hover {
			opacity: 1;
		}
	}
	.dots {
		display: flex;
		justify-content: center;
		padding-top: 50px;
	}

	.dot {
		background-color: $white-color;
		border-radius: 4px;
		width: 44px;
		height: 6px;
		margin-right: 10px;
		cursor: pointer;
		opacity: 0.4;
		&:last-child {
			margin-right: 0;
		}
		&.active {
			background-color: $main-color;
			opacity: 1;
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		margin-left: -1500px;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
		margin-left: 0;
	}
}
