$main-text:'Poppins', sans-serif;
$main-color: rgb(255, 110, 48);
$main-alpha:rgba(255, 110, 48, 0.6);
$white-color: rgba(255, 255, 255, 0.902);
$secondary-color:rgba(255, 255, 255, 0.549);
$third-color:rgba(255, 165, 55, 0.55);
$black-aplha: rgba(40, 48, 54, 0.6);
$black-color: rgb(40, 48, 54);
$overlay-aplha: rgba(25, 25, 25, 0.4);
$overlay-color: rgb(25, 25, 25);
$footer-hr: rgba(255, 255, 255, 0.15);
